<% if @map[:visited][@map[:visited].length-1] %>
    <%= "We arrange schedule successfully" %>
<% else %>
    <%= "We try our best, but it seems you are lack of time" %>
<% end %>
<hr/>
    <form action="/">
        <table border='1'>
            <tr>
                <td>
                    choose spots must be covered
                </td>
                <td>
                    <% @result.each do |key, value| %>
                        <input type='checkbox' name='spots_needed[]' value='<%= key %>' <%= 'checked' if @spots_needed.include?(key)%>>
                            <%= value['name'] %> | <%= value['stay_time'] %>
                        </input>
                    <% end %>
                </td>
            </tr>
            <tr>
                <td>
                    choose max spots everyday
                </td>
                <td>
                    <select name="max_spot">
                        <% for i in 1..30 %>
                            <option value=<%= i %> <%= 'selected="checked"' if i == @max_spot %>><%= i %></option>
                        <% end %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    choose max hours everyday
                </td>
                <td>
                    <select name="max_hours">
                        <% for i in 1..24 %>
                            <option value=<%= i %> <%= 'selected="checked"' if i == @max_hours %>><%= i %></option>
                        <% end %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    choose how many days
                </td>
                <td>
                    <select name="day_count">
                        <% for i in 1..30 %>
                            <option value=<%= i %> <%= 'selected="checked"' if i == @day_count %>><%= i %></option>
                        <% end %>
                    </select>
                </td>
            </tr>
        </table>
        <input type='submit' value='提交'></input>
    </form>
Here is the schedule for you
<hr/>
<table border='1'>
    <tr>
        <th>Day</th>
        <th>AM/PM</th>
        <th>Schedule</th>
    </tr>
    <% for i in 0..@day_count-1 %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= 'Morning' %></td>
            <td>
                <ul>
                    <% @map[i][:morning][:spots].each do |ele| %>
                        <li><%= @result[ele[:spot].to_s]['name'] %> for <%= ele[:time] %> hour(s)</li>
                    <% end %>
                </ul>
            </td>
        </tr>
        <tr>
            <td><%= i+1 %></td>
            <td><%= 'Afternoon' %></td>
            <td>
                <ul>
                    <% @map[i][:afternoon][:spots].each do |ele| %>
                        <li><%= @result[ele[:spot].to_s]['name'] %> for <%= ele[:time] %> hour(s)</li>
                    <% end %>
                </ul>
            </td>
        </tr>
    <% end %>
</table>
<hr/>
算法规则
<ol>
    <li>必须去的景点优先</li>
    <li>旅行时间长的景点优先</li>
    <li>rank值小的优先</li>
</ol>
持续迭代中...
